https://api.github.com/repos/offscale/offregister-fab-utils/zipball#egg=offregister_fab_utils
https://api.github.com/repos/offscale/offregister-web-servers/zipball#egg=offregister_web_servers
https://api.github.com/repos/offscale/offregister-jupyter/zipball#egg=offregister_jupyter
